//colors
$main-color : #de9e2e;
$headers-color : #343c4a;

//fonts
$pfcbold : "PFCentroSlabProBold", sans-serif;
$pfcmedium : "PFCentroSlabProMedium", sans-serif;
$ralewaybold : "RalewayBold", sans-serif;
$ralewayregular : "RalewayRegular", sans-serif;
$ralewaysemibold : "RalewaySemiBold", sans-serif;
$robotobold : "RobotoBold", sans-serif;

